header{
    background-color: rgb(90, 197, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-content: center;  
    margin: 0;
     padding: 30px;  
}
h1 {
    font-size: 2.5rem;
    margin: 0;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 20px;
}
.button1, .button2, .button3 {
  
  display: inline-block;
  background-color: rgb(214, 211, 211);
  padding: 1.5rem;
  border: solid 1px black;
  border-radius: 2px;
  font-size: 1rem;
  color: black;
}

.button1:hover, .button2:hover, .button3:hover {
    background-color: lightgray;
    color: black;
    transition: background-color 0.5s ease-in-out;
}
#user-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px black;
    padding: 15px;
    width: 100%;
    gap: 20px;
}
.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    border: solid 1px black;
    padding: 15px;
}

@media (min-width: 768px) {
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;        
    }
    .button1, .button2, .button3 {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        height: 50px;
    }
}